#############################
# Gradle (Java/Kotlin)
#############################
.gradle/
build/

# Gradle Wrapper: unbedingt behalten, damit überall buildbar
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

#############################
# IntelliJ IDEA
#############################
# Standardmäßig .idea ausschließen …
.idea/

# … aber diese Dateien gezielt **einschließen**, damit die Projekt-JDK & Modulzuordnung erhalten bleiben:
!.idea/misc.xml
!.idea/modules.xml

# Häufige IDEA-Dateien, die definitiv NICHT ins Repo sollen
*.iml
*.ipr
*.iws
out/

#############################
# Eclipse (falls mal geöffnet)
#############################
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

#############################
# NetBeans
#############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#############################
# VS Code
#############################
.vscode/

#############################
# OS/Editor
#############################
.DS_Store
Thumbs.db
